<p-toast key="stateInfo" position="top-right"></p-toast>
<div class="p-grid">
    <p-card class="p-col-12">
        <form [formGroup]="movieForm">
            <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <button type="button" pButton pRipple label="Search" (click)="searchMovies()"></button>
                        <input type="text" pInputText placeholder="Title" formControlName="title">         
                    </div>
                </div>
            </div>
        </form>
        <p-progressBar *ngIf="progress" [style]="{'height':'5px'}" mode="indeterminate"></p-progressBar>
        <p-messages key="searchSummary"></p-messages>
    </p-card>
    <p-card class="p-col-12" header="Search Result">
        <div class="p-grid">
            <div class="p-mr-2 p-field-radiobutton">
                <p-radioButton name="view" value="table" [(ngModel)]="selectedView" inputId="t"></p-radioButton>
                <label for="t">Table View</label>
            </div>
            <div class="p-mr-2 p-field-radiobutton">
                <p-radioButton name="view" value="grid" [(ngModel)]="selectedView" inputId="p"></p-radioButton>
                <label for="p">Grid View</label>
            </div>
            <app-grid-view class="p-col-12" *ngIf="selectedView === 'grid'" [movies]="movies" [searchKeyWord]="movieForm.controls.title.value"></app-grid-view>
            <app-table-view class="p-mr-2 p-col-12" *ngIf="selectedView === 'table'" [movies]="movies" [searchKeyWord]="movieForm.controls.title.value"></app-table-view> 
            <p-button class="p-col-12" (click)="showCreateDialog()">Favorite Movies</p-button>
        </div>
    </p-card>
</div>
<app-favorite-movies-dialog #favoriteMovies [keyWord]='movieForm.controls.title.value'></app-favorite-movies-dialog>


