<div class="p-grid" *ngIf="movieDetails">
    <p-card class="p-col-12" [header]="movieDetails.Title">
        <div class='p-grid'>
            <img class="p-col-3" [src]='movieDetails.Poster'>
            <div class="p-col-3 p-offset-5">
                <div class='p-mt-1'>{{movieDetails.Year}}</div>
                <div class='p-mt-1'>{{movieDetails.Language}}</div>
                <div class='p-mt-1'>{{movieDetails.Country}}</div>
            </div>
        </div>
        <p-footer class='p-grid'>
            <p-button class="p-col-2 p-offset-7" (click)="addToFavorite()">Add to Favorite</p-button>
            <p-button class="p-col-3" (click)="removeFromFavorite()">Remove from Favorite</p-button>
        </p-footer>
    </p-card>
    <p-card class="p-col-12">
        <p-tabView>
            <p-tabPanel header="General Information">
                <div class='p-mt-1'>{{movieDetails.Director}}</div>
                <div class='p-mt-1'>{{movieDetails.Actors}}</div>
                <div class='p-mt-1'>{{movieDetails.Awards}}</div>
                <div class='p-mt-1'>{{movieDetails.Genre}}</div>
                <div class='p-mt-1'>{{movieDetails.Writer}}</div>
            </p-tabPanel>
            <p-tabPanel header="Rating and Boxoffice">
                <div class='p-mt-1'>{{movieDetails.Metascore}}</div>
                <div class='p-mt-1'>{{movieDetails.imdbRating}}</div>
                <div class='p-mt-1'>{{movieDetails.imdbVotes}}</div>
                <div class='p-mt-1'>{{movieDetails.BoxOffice}}</div>
            </p-tabPanel>
            <p-tabPanel header="Plot">
                <div class='p-mt-1'>{{movieDetails.Plot}}</div>
            </p-tabPanel>
        </p-tabView>
    </p-card>
    <div class='p-col-12 p-grid'>
        <p-button class="p-col-1 p-offset-11" (click)="back()">Back</p-button>
    </div>
</div>
